header, div, section, footer {
    display: block;
    border: 2px solid black;
    padding: 10px;
    background-color: grey;
    margin: 5px;
    text-align: center;
    color: white;
}

a:visited {
    color: lightgray;
}

#main {
    display: flex;
    justify-content: center;
}

.player {
    width: 15%;
}

#game-board {
    display: grid;
    width: 40%;
    grid-template: (  repeat(6, calc(100%/6)) / repeat(7, calc(100%/7))  );
}

.piece {
    box-sizing: initial;
    padding: 0;
    margin: 2px 0;
    width: 90%;
    padding-top: 90%;
    border-radius: 100px;
}

/* MENUS */

#menu-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(200,200,200,.85);
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 33%;
    max-height: calc(100% - 40px);
    top:0;
    left:0;
    margin: auto;
    padding: 20px;
    background-color: rgba(200,100,100,1);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,.5);
}

.form * {
    margin: 5px 0;
    text-align: center;
    vertical-align: middle;
}

.form-element {
    background: rgba(255,255,255,.1);
    border: none;
    border-bottom: 1px white solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.form-element:focus {
    background: rgba(255,255,255,.25);
    border: none;
}

#player-form {

}