header, div, section, footer {
    display: block;
    border: 2px solid black;
    padding: 10px;
    background-color: grey;
    margin: 5px;
    text-align: center;
    color: white;
}

a:visited {
    color: lightgray;
}

#main {
    display: flex;
    justify-content: center;
}

.player {
    width: 15%;
}

#game-board {
    display: grid;
    width: 40%;
    grid-template: (  repeat(6, calc(100%/6)) / repeat(7, calc(100%/7))  );
}

.piece {
    box-sizing: initial;
    padding: 0;
    margin: 2px 0;
    width: 90%;
    padding-top: 90%;
    border-radius: 100px;
}

/* MENUS */

#menu-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128,128,128,.85);
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 33%;
    top:0;
    left:0;
    margin: auto;
}

#player-form {

}