/* Animations */
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }



/* FONTS */

input, h1, h2, h3, h4, h5, h6, p, a, button, span, div {
    font-family: 'Comfortaa', sans-serif;
}

header, div, section, footer {
    display: block;
    border: 2px solid black;
    padding: 10px;
    background-color: grey;
    margin: 5px;
    text-align: center;
    color: white;
}

a:visited {
    color: lightgray;
}

#main {
    display: flex;
    justify-content: center;
}

.player {
    width: 15%;
}

#game-board {
    display: grid;
    width: 40%;
    grid-template: (  repeat(6, calc(100%/6)) / repeat(7, calc(100%/7))  );
    position:unset;
}

.piece {
    box-sizing: initial;
    padding: 0;
    margin: 2px 0;
    width: 90%;
    padding-top: 90%;
    border-radius: 100px;
}

/* MENUS */

#menu-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(200,200,200,1);
    border: none;
}

#game-over {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    margin: 0;
    background: rgba(0,0,0,0);
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#badge {
    background-color: rgba(0,0,0,0);
    height: 300px;
    width: 300px;
    position:relative;
    border: none;
}

#badge svg{
    fill: dodgerblue;
    animation: rotation 40s infinite linear;
}

#winner-details {
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 5px 10px rgba(0,0,0,.75);
}

#winner-details button {
    height: 3.25em;
    margin: 1em 0;
    text-align: center;
    vertical-align: middle;
}

#badge > * {
    position: absolute;
    top: 0;
    left: 0;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 33%;
    min-width: 300px;
    max-height: calc(100% - 40px);
    top:0;
    left:0;
    margin: auto;
    padding: 20px;
    background-color: rgba(90,90,90,1);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,.5);
}

.form * {
    margin: 5px 0;
    text-align: center;
    vertical-align: middle;
}

.form-element {
    background: rgba(255,255,255,.1);
    border: none;
    border-bottom: 1px white solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 1.25em;
}

.form-element:focus {
    background: rgba(255,255,255,.25);
    border: none;
}

.form button {
    height: 3.25em;
}



/* Radio Inputs */

label.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: pink;
    border-radius:20px;
    padding: 6px 0;
}

label.radio input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

label.radio i.unchecked, label.radio i.checked {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0;
}

  /* On mouse-over, add a grey background color */
label.radio:hover input ~ i {
    color: black;
}

/* When the radio button is checked */
label.radio input:checked ~ i.unchecked {
    display: none;
}

label.radio input:checked ~ i.checked {
    display: block;
}

label.radio i.unchecked {
    display: block;
}

label.radio i.checked {
    display: none;
}